Body {
  background-color: darkblue;
}
 
ul {
  display: inline-block;
  text-align: left;
  property: text-shadow;
  font-family: 'Dosis', sans-serif;
}
 
.container {
  background-color: #BDEDFF ;
  border-radius: 45px;
  box-shadow: 18px 10px 10px Indigo;
  margin: 24px auto;
}
 
.header-title {
  color: indigo;
  font-size: 5em;
  margin:300px;
}
 
.header-subtitle {
  color: indigo;
  font-size: 2.5em;
  margin: 100px;
}
 
.image {
  padding: 10px;
  max-width: 760px;
  margin-left: 200px;
  margin-up: 10px;
  margin-down: 10px;
}
 
.events-title {
  font-size: 2.5em;
  margin: 100px;
}
.events-list{
  font-size: 1.5em;
  margin: 100px;
}
.about{
  font-size: 1.5em;
  margin: 100px;
}
.quote{
  font-size: 1.2em;
  margin: 100px;
}
